---
import AgentCard from "../components/AgentCard.astro";
import Navigation from "../components/Navigation.astro";
import { AGENTS } from "../consts/agents"

const title = "My Astro Learning Blog";
let agentSelected: any = null;
const getRandomAgent = () => {
	console.log(22);
	agentSelected = AGENTS[2];
	return AGENTS[1];
};
console.log("init");
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navigation />
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-md-3 text-center p-3">
					<h1 class="text-dark">Your agent</h1>
					<div class="card w-100" style="width: 18rem;">
						<img
							src="https://www.valorantpicker.com/assets/imgs/agents/portraits/yoru.png"
							class="card-img-top"
							alt="..."
						/>
						<div class="card-body">
							<h3>Nombre</h3>
							<button class="btn btn-outline-danger w-100" onclick="getRandomAgent()"
								>Get random agent</button
							>
							{agentSelected ? agentSelected.name : 'gola'}
						</div>
					</div>
				</div>
				<div class="col"></div>
			</div>
		</div>
	</body>
</html>
